body{
    font:1em verdana;
}
.autosuggest,.dropdown,.result{
    margin:0;
    padding:0;
    border:0;
    width:250px;
}
.autosuggest{
    padding:4px;
    border:1px solid #000;
}
.result{
    width:250px;
    list-style: none;
}
.result li{
    border-top:0;
    padding:5px;
    border:1px solid #000;
    cursor:pointer;
}
.result li:hover{
    background:#000;
    color:#fff;
}